#define which board. Must be adapted
#name is not really strict but must be coherent
#but for PlutoSDR must be plutosdr
export BOARD_NAME=

#define Buildroot location
export BR_DIR=

# define target IP
# 192.168.0.10 for RedPitaya
# 192.168.2.1 for PlutoSDR
export IP=

#only mandatory for plutosdr
#export ADI_HDL_DIR=

# define where to install apps, drivers, etc
export OSCIMP_DIGITAL_NFS=/nfs

OSCIMP_DIGITAL=$(cd `dirname "${BASH_SOURCE[0]}"` && pwd)
source $OSCIMP_DIGITAL/app/setenv.sh
source $OSCIMP_DIGITAL/fpga_ip/setenv.sh
source $OSCIMP_DIGITAL/lib/setenv.sh
source $OSCIMP_DIGITAL/linux_driver/setenv.sh
