#define which board. Must be adapted
export BOARD_NAME=
#define Buildroot location
export BR_DIR=

# define where to install apps, drivers, etc
export OSCIMP_DIGITAL_NFS=/nfs

OSCIMP_DIGITAL=$(cd `dirname "${BASH_SOURCE[0]}"` && pwd)
source $OSCIMP_DIGITAL/app/setenv.sh
source $OSCIMP_DIGITAL/fpga_ip/setenv.sh
source $OSCIMP_DIGITAL/lib/setenv.sh
source $OSCIMP_DIGITAL/linux_driver/setenv.sh
